<div>
    {% block body %}
        {% for post in posts %}
            {# {{ post.id }} #}
            <div class="bg-black">
                <h1 class="text-sm">{{ post.date ? post.date|date('Y-m-d') : '' }}</h1>
                <h1>{{ post.content }}<h1>
            </div >
            <img width="100" src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="image" />
            {{ post.likes }}
            {{ post.nbcomnts }}
            <a href="{{ path('update_post', {'id': post.id}) }}">
                edit                        
            </a>
            <a href="{{ path('delete_post', {'id': post.id}) }}">
                delete        
            </a>
            <a href="{{ path('getAll_commentaire', {'id': post.id}) }}">
                comnts          
            </a>
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="8">
            no records found     
        </td>
    </tr>
{% endfor %}</tbody></table><a href="{{ path('add_post') }}">Create new
                    
        </a>{% endblock %}</div>