{% extends 'dashboard/base.html.twig' %}
{% block content %}
<div class="content-body default-height" style="min-height: 878px;">
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Blog</a></li>
            </ol>
        </div>
        <table class="table table-striped">
        {% for post in complains %}
        <tr>
            <td class="d-flex justify-content-center align-items-center" style="width: 15rem">
                <img src="{{ asset('profileuploads/' ~ post.user.photo ) }}" alt="user" width="50" class="rounded-circle">
            </td>
            <td class="" style="width: 15rem">    
                {{post.user.username}}
            </td>
            <td class="" style="width: 15rem">
                {{ post.postId }}
            </td>
            <td class="" style="width: 15rem">
                {{ post.feedback }}
            </td>
            
            <td class="d-flex justify-content-center"> 
                <a href="{{ path('getAll_commentaire', {'id': post.postId}) }}" class="btn btn-outline-primary ml-4"  >check</a>
                <a href="{{ path('delete_complain', {'id': post.id}) }}" class="btn btn-outline-danger ml-4"  >delete</a> 
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>
</div>

{% endblock %}