{# {% extends 'base.html.twig' %}

{% block title %}Commentaire index{% endblock %} #}

{% block body %}
    <h1>Commentaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdComment</th>
                <th>Content</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in comments %}
            <tr>
                <td>{{ commentaire.id }}</td>
                <td>{{ commentaire.content }}</td>
                <td>{{ commentaire.date ? commentaire.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('update_commentaire', {'id': commentaire.id}) }}">edit</a>
                    <a href="{{ path('delete_commentaire', {'id': commentaire.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('add_commentaire') }}">Create new</a>
{% endblock %}
