{% extends "main/base.html.twig" %}

{# {% block title %}test{% endblock %} #}

{# {% block body %} #}

{% block content %}

<div class="page-content bg-white">
		
		<!-- Banner  -->
		<div class="dz-bnr-inr style-2" style="background-image: url('{{asset('main/images/banner/banner-2.png')}}')">
			<div class="banner-gradient"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="dz-bnr-inr-entry">
							<h1>Invoice</h1>
							<!-- Breadcrumb Row -->
							<nav aria-label="breadcrumb" class="breadcrumb-row">
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									
									<li class="breadcrumb-item active" aria-current="page">Invoice</li>
								</ul>
							</nav>
							<!-- Breadcrumb Row End -->
						</div>
					</div>
				</div>	
				<div class="banner-media">
					<img src="{{asset('main/images/banner/pic4.png')}}" alt="/">
				</div>
			</div>	
		</div>

    {# <h1>Panier Valide</h1> #}

    <br>
    {# <a href="{{ path('app_produit_index') }}">Retour à la liste des produits</a> #}
    <a href="{{ path('app_produit_index') }}" data-url="{{ path('valider_panier') }}" class="btn btn-primary btn-skew appointment-btn"><span class="skew-inner"><span class="text"> Back To list </span></span></a>
    <br>

    <div class="text-center" >
        <h4>Invoice ID : {{ facture.idfacture }} </h4>
        <h4>Sale Date : {{ facture.datevente ? facture.datevente|date('Y-m-d') : '' }} </h4>
        <br>

        <style>
            .custom-centered-table {
                margin: 0 auto; /* Centrer horizontalement */
            }
            .custom-centered-table th,
            .custom-centered-table td {
                border: 1px solid black; /* Bordure de 1px solide */
                padding: 8px; /* Espacement du contenu à l'intérieur des cellules */
            }
        </style>

        <table class="custom-centered-table">
            <thead>               
                <tr>
                    <th>Article Number</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Discount </th>
                    <th>Total Article Price</th>
                </tr>
            </thead>
            <tbody>
                {% for detail in detailsFacture %}
                    <tr>
                        <td>{{ detail.iddetailfacture }}</td>
                        <td>{{ detail.prixventeunitaire }}</td>
                        <td>{{ detail.quantite }}</td>
                        <td>{{ detail.tauxremise }}</td>
                        <td>{{ detail.prixtotalarticle}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <br>
        <h4>Total Invoice Amount : {{ facture.prixtatalpaye }} TND</h4>
        <h4>Payment Method : {{ facture.methodedepaiement }}</h4>
    </div>
</div>
{% endblock %}

