{% extends "main/base.html.twig" %}

{% block content %}
<div class="page-content bg-white">

	<!-- Banner  -->
	<div class="dz-bnr-inr style-2" style="background-image: url('{{asset('main/images/banner/banner-2.png')}}')">
		<div class="banner-gradient"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="dz-bnr-inr-entry">
						<h1>Events</h1>
						<!-- Breadcrumb Row -->
						<nav aria-label="breadcrumb" class="breadcrumb-row">
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								
								<li class="breadcrumb-item active" aria-current="page">Events</li>
							</ul>
						</nav>
						<!-- Breadcrumb Row End -->
					</div>
				</div>
			</div>	
			<div class="banner-media">
				<img src="{{asset('main/images/banner/pic4.png')}}" alt="/">
			</div>
		</div>	
	</div>
	<!-- Banner End -->
		
		<!-- Our Team -->
		<section class="content-inner">
        <div class="container-sm">
                <div class="alert bg-info text-white alert-dismissible fade show">
                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                <strong>Welcome!</strong> For Cheaper Prices Download Our Desktop App. <a href="https://www.youtube.com/watch?v=FJRMldSmy-M" class="alert-link" style="text-decoration: underline;" target="_blank"><strong>GymPlus</strong></a>
                <button type="button" class="close h-100" data-bs-dismiss="alert" aria-label="Close">
                    <span><i class="fa-solid fa-xmark"></i></span>
                </button>
            </div>
            </div>
			<div class="container">
				<div class="section-head style-2 text-center wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
					<h2 class="title">Claim Your Reward</h2>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-4 col-md-6 m-b30">
						<div class="pricingtable-wrapper style-3 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
							<div class="pricingtable-inner">
								<img src="{{ asset('main/images/event/wheycar.png') }}" alt="Reward Image">

								<div class="pricingtable-price">
									<div class="pricingtable-title">GymPlus Whey Protein</div>
									<div class="pricingtable-title premium">Popular Reward</div>
									<h2 class="pricingtable-bx">3500 Points</h2>
									<div class="pricingtable-button">
										<a href="{{path('whey')}}" class="btn btn-dark rounded-0 d-block m-b10"><span>Claim</span></a>
									</div>
								</div>
								
							</div>
							<div class="effect"></div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 m-b30">
						<div class="pricingtable-wrapper style-3 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
							<div class="pricingtable-inner">
								<img src="{{ asset('main/images/event/gymbeltt.png') }}" alt="Reward Image">
								<div class="pricingtable-price">
									<div class="pricingtable-title">GymPlus Lifting Belt</div>
									<div class="pricingtable-title premium">Popular Reward</div>
									<h2 class="pricingtable-bx">2500 Points</h2>
									<div class="pricingtable-button">
										<a href="{{path('belt')}}" class="btn btn-dark rounded-0 d-block m-b10"><span>Claim</span></a>
									</div>
								</div>
								
							</div>
							<div class="effect"></div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 m-b30">
						<div class="pricingtable-wrapper style-3 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
							<div class="pricingtable-inner">
								<img src="{{ asset('main/images/event/gymbag.png') }}" alt="Reward Image">
								<div class="pricingtable-price">
									<div class="pricingtable-title">GymPlus Bag</div>
									<div class="pricingtable-title premium">Popular Reward</div>
									<h2 class="pricingtable-bx">3000 Points</h2>
									<div class="pricingtable-button">
										<a href="{{path('bag')}}" class="btn btn-dark rounded-0 d-block m-b10"><span>Claim</span></a>
									</div>
								</div>
								
							</div>
							<div class="effect"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Our Team -->
		
		<!-- Call To Action -->
		<section class="call-action style-2 bg-img-fix bg-primary">
			<div class="container">
				<div class="inner-content">
					<div class="row justify-content-between align-items-center">
						<div class="text-center text-lg-start col-xl-6 m-lg-b20 wow fadeInUp" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
							<h2 class="title m-0"><span class="font-weight-400">Subscribe To Our </span>Newsletter</h2>
						</div>
						<div class="text-center text-lg-end col-xl-6 wow fadeInUp" data-wow-delay="0.4s" style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">
							<form class="dzSubscribe" action="assets/script/mailchamp.php" method="post">
								<div class="dzSubscribeMsg"></div>
								<div class="form-group">
									<div class="input-group mb-0"> 
										<div class="input-skew">
											<input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your Email Address">
										</div>
										<div class="input-group-addon">
											<button name="submit" value="Submit" type="submit" class="btn btn-secondary btn-lg btn-skew h-100"><span class="skew-inner"><span class="text">Subscribe Now</span></span></button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Call To Action -->
		
	</div>
{% endblock %}

{% block js %}
{{parent()}}
<script>
	{{ dump(app.flashes('claimStatus')) }}
    {% for message in app.flashes('claimStatus') %}
        if ('{{ message }}' === 'Claim successful') {
            Swal.fire({
                title: "Good job!",
                text: "You clicked the button!",
                icon: "success"
            });
        } else if ('{{ message }}' === 'Not enough points') {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Something went wrong!",
                footer: '<a href="#">Why do I have this issue?</a>'
            });
        }
    {% endfor %}
	
</script>
{% endblock %}