{% extends "main/base.html.twig" %}
{% block content %}

<div class="page-content bg-white">
		
		userRepository
		
		<!-- Our Events -->
		<section class="content-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="row justify-content-center">
		{% for event in events %}
    <div class="col-xl-6 col-lg-8">
        <div class="dz-card style-1 blog-half m-b30 overlay-shine wow fadeInUp" data-wow-delay="0.2s">
            <div class="dz-media">
                
                <a href="javascript:void(0);"><img src="{{ asset('main/images/event/' ~ event.event.type ~ '.jpg') }}" alt="/"></a>
            </div>
            <div class="dz-info">
                <div class="dz-meta">
                    <ul>
                        <li class="dz-date">
                            <span>{{ event.event.eventDate|date('d') }}</span> {{ event.event.eventDate|date('M') }}
                        </li>
                        <li class="dz-time">
                            <a href="javascript:void(0);">{{ event.event.eventDate|date('g:i a') }}</a>
                        </li>
                    </ul>
                </div>

                <h4 class="dz-title"><a href="event-detail.html">{{ event.event.name }}</a></h4>
                <p>Type: {{ event.event.type }}</p>
                <p>Duration: {{ event.event.duree }} Minutes</p>
                <p>Remaining Spots: {{ event.event.nbPlaces }}</p>
                <form action="{{ event.isUserParticipant ? path('event_leave', {'id': event.event.id}) : path('event_join', {'id': event.event.id}) }}" method="post">
    <button type="submit" class="btn btn-skew appointment-btn {{ event.isUserParticipant ? 'btn-danger' : 'btn-primary' }}">
        <span class="skew-inner"><span class="text">{{ event.isUserParticipant ? 'Leave' : 'Join' }}</span></span>
    </button>
</form>
	
            </div>
        </div>
    </div>
    {% endfor %}
							
						
					</div>
				</div>
			</div>
		</section>
		<!-- Our Events -->
		
		
		
	</div>

{% endblock %}
