{% extends "dashboard/base.html.twig" %}

{% block content %}
<div class="content-body default-height" style="min-height: 878px;">
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Equipments</a></li>
            </ol>
        </div>
        <!-- row -->
        {% if form.etat is not defined %}
            <div class="alert alert-warning solid alert-right-icon alert-dismissible fade show">
					<span><i class="mdi mdi-alert"></i></span>
						<button type="button" class="close h-100" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
					</button>
					<strong>Warning!</strong> This equipment is under maintenance, you can't change its state.
				</div>
        {% endif %}

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Edit Equipement</h4>
                    </div>
                    <div class="card-body">
                    {{ form_start(form, { 'class': 'centered-form'}) }}
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                {{ form_label(form.name) }}
                                {{ form_widget(form.name, {'attr' : {'class' : 'form-control'}}) }}
                                <small class="text-danger">{{ form_errors(form.name) }}</small>
                            </div>
                            <div class="form-group col-md-4">
                                {{ form_label(form.description) }}
                                {{ form_widget(form.description, {'attr' : {'class' : 'form-control'}}) }}
                                <small class="text-danger">{{ form_errors(form.description) }}</small>
                            </div>
                            <div class="form-group col-md-4">
                                {{ form_label(form.dureeDeVie) }}
                                {{ form_widget(form.dureeDeVie, {'attr' : {'class' : 'form-control'}}) }}
                                <small class="text-danger">{{ form_errors(form.dureeDeVie) }}</small>
                            </div>
                        </div>
                        {% if form.etat is defined %}
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                
                                        {{ form_label(form.etat) }}
                                            {{ form_widget(form.etat, {'attr' : {'class' : 'form-control'}}) }}
                                        
                                    <small class="text-danger">{{ form_errors(form.etat) }}</small>
                                </div>
                            </div>
                        {% endif %}
                        {{ form_widget(form.submit) }}
                    {{ form_end(form) }}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}