

{% extends 'dashboard/base.html.twig' %}

{% block css %}
	<!-- Datatable -->
	<link href="{{asset('dashboard/vendor/datatables/css/jquery.dataTables.min.css')}}" rel="stylesheet">
	{{ parent() }}
{% endblock %}

{% block content %}
        <div class="content-body">
            <div class="container-fluid">
                <div class="page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">App</a></li>
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Profile</a></li>
					</ol>
                </div>
                <!-- row -->
				<div class="alert alert-warning solid alert-right-icon alert-dismissible fade show">
					<span><i class="mdi mdi-alert"></i></span>
						<button type="button" class="close h-100" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
					</button>
					<strong>Warning!</strong> As an admin, you have the ability to manage users, you can add, modify or delete users aswell as bypass verification processes. Be careful with the actions you take as they are irreversible.
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Add User</h4>
							</div>
							<div class="card-body">
							{% for message in app.flashes('error') %}
								<div class="alert alert-danger solid alert-right-icon alert-dismissible fade show">
								<span><i class="mdi mdi-alert"></i></span>
									<button type="button" class="close h-100" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
								</button>
								<strong>Error!</strong> {{ message }}
							</div>
							{% endfor %}
							{{ form_start(form, {'attr': { 'class': 'centered-form', 'novalidate': 'novalidate'}}) }}
								<div class="form-row">
									<div class="form-group col-md-4">
										{{ form_label(form.id) }}
										{{ form_widget(form.id, {'attr' : {'class' : 'form-control'}}) }}
										<small class="text-danger">{{ form_errors(form.id) }}</small>
									</div>
									<div class="form-group col-md-4">
										{{ form_label(form.username) }}
										{{ form_widget(form.username, {'attr' : {'class' : 'form-control'}}) }}
										<small class="text-danger">{{ form_errors(form.username) }}</small>
									</div>
									<div class="form-group col-md-4">
										{{ form_label(form.firstname) }}
										{{ form_widget(form.firstname, {'attr' : {'class' : 'form-control'}}) }}
										<small class="text-danger">{{ form_errors(form.firstname) }}</small>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-4">
										{{ form_label(form.lastname) }}
										{{ form_widget(form.lastname, {'attr' : {'class' : 'form-control'}}) }}
										<small class="text-danger">{{ form_errors(form.lastname) }}</small>
									</div>
									<div class="form-group col-md-4">
										{{ form_label(form.dateNaiss) }}
										{{ form_widget(form.dateNaiss, {'attr' : {'class' : 'form-control'}}) }}
										<small class="text-danger">{{ form_errors(form.dateNaiss) }}</small>
									</div>
									<div class="form-group col-md-4">
										{{ form_label(form.password) }}
										{{ form_widget(form.password, {'attr' : {'class' : 'form-control'}}) }}
										<small class="text-danger">{{ form_errors(form.password) }}</small>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-4">
										{{ form_label(form.email) }}
										{{ form_widget(form.email, {'attr' : {'class' : 'form-control'}}) }}
										<small class="text-danger">{{ form_errors(form.email) }}</small>
									</div>
									
									<div class="form-group col-md-4">
										{{ form_label(form.adresse) }}
										{{ form_widget(form.adresse, {'attr' : {'class' : 'form-control'}}) }}
										<small class="text-danger">{{ form_errors(form.adresse) }}</small>
									</div>
									<div class="form-group col-md-2">
										{{ form_label(form.numTel) }}
										{{ form_widget(form.numTel, {'attr' : {'class' : 'form-control'}}) }}
										<small class="text-danger">{{ form_errors(form.numTel) }}</small>
									</div>
									<div class="form-group col-md-2">
										{{ form_label(form.role) }}
										{{ form_widget(form.role, {'attr' : {'class' : 'form-control'}}) }}
										<small class="text-danger">{{ form_errors(form.role) }}</small>
									</div>
								</div>
								<div class="form-row">
									
									<div class="form-group col-md-4">
										<div class="custom-file">
											
											{{ form_widget(form.photo, {'attr' : {'class' : 'custom-file-input'}}) }}
											{{ form_label(form.photo, null, { 'label_attr': {'class': 'custom-file-label'} }) }}
										</div>
									</div>
								</div>
								
								<button type="submit" class="btn btn-primary">Add User</button>
							{{ form_end(form) }}
							</div>
							
						</div>
					</div>
				</div>
                <div class="row">
					<div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Users</h4>
                            </div>
                            <div class="card-body">
								<!-- custom search bar with bootstrap  -->
								<div class="col-4 float-right">
									<div class="input-group mb-3">
										<input type="text" class="form-control" id="customSearch" placeholder="Search users">
										<div class="input-group-append">
											<button class="btn btn-outline-primary" type="button" id="searchButton"><i class="fa fa-search"></i>
											</button>
										</div>
									</div>
								</div>

                                <div class="table-responsive" style="overflow-x: hidden;">
                                    <table id="example5" class="display min-w850">
                                        <thead>
                                            <tr>
												<th></th>
                                                <th>User CIN</th>
												<th>First Name</th>
												<th>Last Name</th>
												<th>Phone</th>
												<th>Email</th>
												<th>Address</th>
												<th>Role</th>
												<th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
										
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
                    
			</div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
{% endblock %}

{% block js %}
	{{ parent() }}
	<!-- Datatable -->
	<script src="{{asset('dashboard/vendor/datatables/js/jquery.dataTables.min.js')}}"></script>
	<script>
		$('#example5').DataTable({
				//"ordering": false,
				"searching": false,
				"ajax": {
					"url": "{{ path('app_userlist') }}",
					"data": function (d) {
						d.customSearch = $('#customSearch').val(); // Get the value of your custom search input
					}
				},
				"columns": [
					{
						"data": 0,
						"render": function ( data, type, row ) {
							return '<img src="/profileuploads/' + data + '" class="rounded-circle" width="35" alt="">';
						}
					},
					{ "data": 1},
					{ "data": 2},
					{ "data": 3},
					{ "data": 4},
					{ "data": 5},
					{ "data": 6},
					{ 
						"data": 7,
						"render": function ( data, type, row ) {
							if (data == 'client') {
								return '<span class="badge light badge-success"><i class="fa fa-circle text-success mr-1"></i>' + data.charAt(0).toUpperCase() + data.slice(1) + '</span>';
							} else if (data == 'admin') {
								return '<span class="badge light badge-danger"><i class="fa fa-circle text-danger mr-1"></i>' + data.charAt(0).toUpperCase() + data.slice(1) + '</span>';
							} else {
								return '<span class="badge light badge-warning"><i class="fa fa-circle text-warning mr-1"></i>' + data.charAt(0).toUpperCase() + data.slice(1) + '</span>';
							}
						}
					},
					//this last column is for the action buttons we need to make it custom
					{
						"data": 1,
						"render": function ( data, type, row ) {
							return '<div class="dropdown ms-auto text-end c-pointer">' +
								'<div class="btn-link" data-toggle="dropdown">' +
								'<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>' +
								'</div>' +
								'<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">' +
								'<a class="dropdown-item" onmouseover="this.classList.add(\'bg-warning\'); this.classList.add(\'text-white\')" onmouseout="this.classList.remove(\'bg-warning\');  this.classList.remove(\'text-white\')" href="/dashboard/manageuser/' + data + '"><i class="fa fa-pencil me-2"></i> Edit</a>' +
								'<a class="dropdown-item" onmouseover="this.classList.add(\'bg-danger\'); this.classList.add(\'text-white\')" onmouseout="this.classList.remove(\'bg-danger\');  this.classList.remove(\'text-white\')" href="javascript:$.ajax({url: \'/api/deleteuser/' + data + '\', success: function(result){$(\'#example5\').DataTable().ajax.reload();}})"><i class="fa fa-trash me-2"></i> Delete</a>' +
								'</div>' +
								'</div>';
						}
					}
				]
		});



		$('#searchButton').on('click', function () {
			$('#example5').DataTable().ajax.reload();
			
		});
		$('#customSearch').on('keyup', function (e) {
			if (e.key === 'Enter' || e.keyCode === 13) {
				$('#example5').DataTable().ajax.reload();
			}
		});
	</script>
{% endblock %}