{% extends "dashboard/base.html.twig" %}
{% block css %}
	<!-- Datatable -->
	<link href="{{asset('dashboard/vendor/datatables/css/jquery.dataTables.min.css')}}" rel="stylesheet">
	{{ parent() }}
{% endblock %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Events</a></li>
            </ol>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Events</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example5" class="display min-w850">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Date</th>
                                        <th>Duration</th>
                                        <th>Number of Places</th>
                                        <th>Rate</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for event in pastEvents %}
                                    <tr>
                                        <td><strong class="text-black">{{ loop.index }}</strong></td>
                                        <td>{{ event.name }}</td>
                                        <td>{{ event.type }}</td>
                                        <td>{{ event.eventDate|date('Y-m-d h:i A') }}</td>
                                        <td>{{ event.duree }}</td>
                                        <td>{{ event.nbPlaces ~ '/' ~ event.nbTotal }}</td>
                                        
                                        <td>{{ rate[event.id]| default(0) }}</td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td colspan="7" style="text-align: center;">No events found.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <!-- Datatable -->
    <script src="{{asset('dashboard/vendor/datatables/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('dashboard/js/plugins-init/datatables.init.js')}}"></script>
{% endblock %}