{% extends "dashboard/base.html.twig" %}
{% block content %}
       <div class="content-body">
            
                <div class="alert alert-warning solid alert-right-icon alert-dismissible fade show">
					<span><i class="mdi mdi-alert"></i></span>
						<button type="button" class="close h-100" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
					</button>
					<strong>Warning!</strong> As a staff/admin, you can modify the state of the equipments. Be careful as this will cost the company money.
				</div>
				<li><a href="{{ path('test') }}">test</a></li>
 			<div class="row">

				<div class="col-xl-4 col-xxl-3 col-lg-3">
                        <div class="card border-0 pb-0" id="ListeFieldRefresh">
                            <div class="card-header border-0 pb-0">
                                <h4 class="card-title">Planning Created</h4>
                            </div>
                            <div class="card-body"> 
                                <div id="DZ_W_Todo3" class="widget-media dz-scroll height370" >
                                    <ul class="timeline" id="elementsContainer" >
                                        <li>
										  {% for plann in planningList %}
                                            <div class="timeline-panel" >
												<div class="media me-4 media-success">
													<i class="fa fa-home"></i>
												</div>
                                                <div class="media-body" >
													<h5 class="mb-1"> Objective Type : <small class="text-muted"> {{obj.typeobj}} </small></h5>
													<p class="mb-1"> Alergie: {{obj.alergie}}</p>
													<a href="{{ path('deletePlan', {'idPlanning': plann.idPlanning, 'objectiveId': obj.idobjectif}) }}" class="btn btn-outline-danger btn-xxs delete-plan">Delete</a>
												</div>
												<div class="dropdown">
													<button type="button" class="btn btn-primary light sharp" data-toggle="dropdown">
														<svg width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"/><circle fill="#000000" cx="5" cy="12" r="2"/><circle fill="#000000" cx="12" cy="12" r="2"/><circle fill="#000000" cx="19" cy="12" r="2"/></g></svg>
													</button>
													<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="{{ path('updatePlan', {'idPlanning': plann.idPlanning, 'objectiveId': obj.idobjectif}) }}" onclick="togglePlanningForm(event)">Edit</a>													</div>
												</div>
											</div>
											{% endfor %}
                                        </li>
                          			 </ul>
								  </div>
								   <div class="alert alert-secondary alert-dismissible fade show" style="display: none;">
									<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="me-2"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
									<strong>Done!</strong> Your Suppression Has been.
									<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                    </button>
                                </div>
                            </div>
                        </div>
					</div>					    
					<div class="col-xl-8 col-lg-6" id="planning-testValidation" style="display: block;">	
							{{ form_start(form, {'attr': {'class': 'card','onpaste': 'return false', 'novalidate': 'novalidate'} }) }} 
							
								<div class="card-header" >
									<h4 class="card-title">Manipulate The Planning</h4>
								</div>
								<div class="card-body">
											<div class="form-group">
													<div class="mb-3" id="trainingprog">
														<label for="formFile" class="form-label">Exercices Link</label>
														{{ form_widget(form.trainingprog, {'attr': {'class': 'form-control', 'id': 'plan_trainingprogUrl', 'name':'trainingprog' , 'style':'line-height: 40px','accept': '.pdf,.jpg,.png'
      													  }}) }}
														{% set trainingprog = form_errors(form.trainingprog) | striptags%}
															{% if trainingprog %}
																<div class="alert alert-danger  alert-dismissible fade show">
															<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
																<strong>Warning!</strong> {{ trainingprog }}.
															<button type="button" class="close h-100" data-bs-dismiss="alert" aria-label="Close">
																<span><i class="fa-solid fa-xmark"></i></span>
															</button>
														</div>
														{% endif %}
													</div>
														<div class="mb-3" id="foodprog">
															<label for="formFile" class="form-label">Diet Link</label>
															{{ form_widget(form.foodprog, {'attr': {'class': 'form-control', 'id': 'formFile', 'name':'foodprog','type':'file', 'style':'line-height: 40px','accept': '.pdf,.jpg,.png'}}) }}
														</div>
													

														{{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary add-planning', 'value': 'Add Planning'} } ) }}
													</div>	
											                        <div class="alert alert-success alert-dismissible fade show" 	    role="alert" style="display: none;" id="success-alert">
																	<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
																		<polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon>
																		<line x1="15" y1="9" x2="9" y2="15"></line>
																		<line x1="9" y1="9" x2="15" y2="15"></line>
																	</svg>
																	<strong>Success!</strong> Adding successfully submitted.
																	<button type="button" class="close h-100" data-bs-dismiss="alert" aria-label="Close">
																		<span><i class="fa-solid fa-xmark"></i></span>
																	</button>
																</div>								
									</div>
								</div>
							{{ form_end(form) }}
							</div>
			
						</div>
						
				</div>
				
            </div>
        </div>
        {% endblock %}



{% block js %}
    {{ parent() }}

    <script>

 




$(document).ready(function() {
    $('.delete-plan').click(function(e) {
        e.preventDefault();
        var deleteLink = $(this).attr('href');
        var planId = $(this).data('plan-id');
        
        $.ajax({
            url: deleteLink,
            type: 'POST', 
            success: function(response) {
				var successMessage = $('.alert-secondary');
                hideElements();
				successMessage.show();
            setTimeout(function() {
                successMessage.hide();
            }, 3000);
            },
            error: function(xhr, status, error) {
            }
        });
    });
    
    function hideElements() {
        var container = $('#elementsContainer');
        
        container.hide();
    }
});





  $(document).ready(function() {
            $('form').on('submit', function(e) {
    e.preventDefault();
    var formElement = this; 
    var formData = new FormData(formElement);
    $.ajax({
        url: $(formElement).attr('action'),
        type: $(formElement).attr('method'),
        data: formData,
        processData: false, 
        contentType: false,
        success: function(response) {
            $('.form-error').remove();
            if (response.success) {
                var successMessage = $('.alert-success');
                console.log('aaa');
                successMessage.show();
                setTimeout(function() {
                    successMessage.hide();
                }, 3000)
            }
        },

                error: function(jqXHR, textStatus, errorThrown) {
					console.log('aaaaaaa');
    var errors = JSON.parse(jqXHR.responseText);
		 $('.form-error').remove();

    for(var key in errors) {
		console.log(key);

        var error = errors[key];
        var fieldId = key.replace('data.', '');
 $('#' + key).after('<div class="alert alert-danger alert-dismissible fade show form-error wow flash" data-wow-duration="2s" data-wow-delay="0.2s"style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: flash;">' +
    '<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>' +
    '<strong>Warning!</strong> ' + error +
    '<button type="button" class="close h-100" data-bs-dismiss="alert" aria-label="Close">' +
    '<span><i class="fa-solid fa-xmark"></i></span>' +
    '</button>' +
'</div>');
    }
}
 });
   return false; 
            });
        });
    </script>
{% endblock %}