{% extends 'main/base.html.twig' %}
	{% block content %}
	<div class="page-content bg-white">
			
		<!-- Banner  -->
		<div class="dz-bnr-inr style-2" style="background-image: url('{{asset('main/images/banner/banner-2.png')}}')">
			<div class="banner-gradient"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="dz-bnr-inr-entry">
							<h1>Equipments</h1>
							<!-- Breadcrumb Row -->
							<nav aria-label="breadcrumb" class="breadcrumb-row">
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Equipments</li>
								</ul>
							</nav>
							<!-- Breadcrumb Row End -->
						</div>
					</div>
					<div class="col-lg-4">
						<div class="banner-media">
							<img src="{{asset('main/images/banner/pic1.png')}}" alt="/">
						</div>
					</div>
				</div>	
			</div>	
		</div>
		<!-- Banner End -->
		
		<!-- Services Details Start -->
		<div class="content-inner">
			<div class="container">
				<div class="row">
					<div class="col-xl-4 col-lg-5 m-b30">
						<aside class="side-bar left sticky-top">
                            <div class="widget service_menu_nav wow fadeInUp" data-wow-delay="0.2s">
								<ul>
									<li class="active"><a href="javascript:void(0);">Equipments</a> </li>
									<!-- <li><a href="javascript:void(0);">Maintenances</a></li> -->
								</ul>
								<svg width="250" height="70" viewBox="0 0 250 70" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 38L250 0L210 70L0 38Z" fill="url(#paint0_linear_306_1296)"></path>
									<defs>
										<linearGradient id="paint0_linear_306_1296" x1="118.877" y1="35.552" x2="250.365" y2="35.552" gradientUnits="userSpaceOnUse">
										<stop offset="1" stop-color="var(--primary)"></stop>
										</linearGradient>
									</defs>
								</svg>
							</div>
							<div class="widget_contact wow fadeInUp" data-wow-delay="0.3s">
								<div class="widget-content">
									<div class="icon-bx">
										<i class="flaticon-contact-center"></i>
									</div>
									<h4>Do you need any help?</h4>
									<div class="phone-number"><a href="tel:+4733378901">+91 12345 678 98</a></div>
									<h6 class="email">info@dexignzone.com</h6>
									<div class="link-btn">
										<a href="contact-us.html" class="btn btn-secondary btn-skew">
											<span class="skew-inner"><span class="text">Contact Us</span></span>
										</a>
									</div>
								</div>
							</div>
                        </aside>
					</div>
					<div class="col-xl-8 col-lg-7">
						<div class="dz-media m-b30 wow fadeInUp" data-wow-delay="0.4s">
							<img src="{{asset('main/images/blog/large/pic1.jpg')}}" alt="">
						</div>
						<div class="dz-content">
							<div class="m-b40">
								<h3 class="title m-b15 font-weight-700 wow fadeInUp" data-wow-delay="0.5s">Providing world class equipments.</h3>
								<p class="wow fadeInUp" data-wow-delay="1.2s">We offer the best machines and equipments for your fitness and health. We have a wide range of equipments that you can use.</p>
								<p class="wow fadeInUp" data-wow-delay="1.4s">We also provide maintenance services for the equipments. We have a team of experts who can help you with the maintenance of the equipments.</p>
							</div>
								
							<div class="m-b40">
								<h4 class="m-b15 wow fadeInUp" data-wow-delay="0.6s">Learn About Our Equipments:</h4>
								<table class="table table-bordered table-responsive wow fadeInUp" data-wow-delay="0.7s">
									<thead>
										<tr>
											<th>Equipment Name</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										{% for e in equipments %}
										<tr>
											<td>{{e.name}}</td>
											<td>
												{% if e.etat|upper == 'GOOD' %}
													<span class="badge rounded-pill bg-success">Good</span>
												{% elseif e.etat|upper == 'BAD' %}
													<span class="badge rounded-pill bg-warning">Degraded</span>
												{% else %}
													<span class="badge rounded-pill bg-danger">Under Maintenance</span>
												{% endif %}
											</td>
										</tr>
										{% endfor %}
										
									</tbody>
								</table>
								<p class="wow fadeInUp" data-wow-delay="0.7s">We offer the best support and service you can imagine. Use our support forum if you have any questions and our team will respond. We have thousands of solved threads and a customer satisfaction of 97%. We do care that the equipments are available to our members!</p>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Services Details End -->
		
		<!-- Call To Action -->
		<section class="call-action style-2 bg-img-fix bg-primary">
			<div class="container">
				<div class="inner-content">
					<div class="row justify-content-between align-items-center">
						<div class="text-center text-lg-start col-xl-6 m-lg-b20 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
							<h2 class="title m-0"><span class="font-weight-400">Subscribe To Our </span>Newsletter</h2>
						</div>
						<div class="text-center text-lg-end col-xl-6 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
							<form class="dzSubscribe" action="{{asset('main/script/mailchamp.php')}}" method="post">
								<div class="dzSubscribeMsg"></div>
								<div class="form-group">
									<div class="input-group mb-0"> 
										<div class="input-skew">
											<input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your Email Address">
										</div>
										<div class="input-group-addon">
											<button name="submit" value="Submit" type="submit" class="btn btn-secondary btn-lg btn-skew h-100"><span class="skew-inner"><span class="text">Subscribe Now</span></span></button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Call To Action -->
		
	</div>
	
{% endblock %}