{% extends "main/base.html.twig" %}

{% block css %}
	<link href="{{asset('main/vendor/ScheduleBootsrap/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link href="{{asset('main/vendor/ScheduleBootsrap/main.min.css')}}" rel="stylesheet">
	{{ parent() }}
{% endblock %}

{% block content %}

	<div class="page-content bg-white">
		
		<!-- Banner  -->
		<div class="dz-bnr-inr style-2" style="background-image: url('{{asset('main/images/banner/banner-2.png')}}')">
			<div class="banner-gradient"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="dz-bnr-inr-entry">
							<h1>Checkout</h1>
							<!-- Breadcrumb Row -->
							<nav aria-label="breadcrumb" class="breadcrumb-row">
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Checkout</li>
								</ul>
							</nav>
							<!-- Breadcrumb Row End -->
						</div>
					</div>
				</div>
				<div class="banner-media">
					<img src="{{asset('main/images/banner/pic1.png')}}" alt="/">
				</div>				
			</div>	
		</div>
		<!-- Banner End -->
		
		<!-- inner page banner End-->
		<div class="content-inner-1">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="card-container" data-wow-delay="0.5s">
							<div class="widget bg-white p-a20">
								{{ form_start(form, {'attr': {'class': 'dz-form dzForm', 'id': 'objectif'} }) }}

									<div class="form-group">
										<label class="form-label">Weight Objectif</label>
										<div class="input-group">
											{{ form_widget(form.poidsobj, {'attr': {'class': 'form-control', 'placeholder': 'Weight Objectif'}}) }}
										</div>
										<label class="form-label">Weight Actuelle</label>
										<div class="input-group">
											{{ form_widget(form.poidsact, {'attr': {'class': 'form-control', 'placeholder': 'Weight Actuelle'}}) }}
										</div>
										<label class="form-label">Height</label>
										<div class="input-group">
											{{ form_widget(form.taille, {'attr': {'class': 'form-control', 'placeholder': 'Height'}}) }}
										</div>
										<label class="form-label">Something To Say*</label>
										<div class="input-group">
											{{ form_widget(form.alergie, {'attr': {'class': 'form-control', 'placeholder': 'Something To Say*'}}) }}
										</div>

										<label class="form-label" for="{{ form.typeobj.vars.id }}">Type Objectif</label>
										<div class="input-group">
										{{ form_widget(form.typeobj, {'attr': {'class': 'form-control', 'placeholder': '', 'id': form.typeobj.vars.id}}) }}
										</div>

										<label class="form-label">Date</label>
										<div class="input-group">
											{{ form_widget(form.datef, {'attr': {'class': 'form-control', 'placeholder': 'Date of Birth'}}) }}
										</div>
				

				
										<label class="form-label">Coach</label>
										<div class="input-group">
											{{ form_widget(form.coachid)}}
											<div class="text-center">
												{{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary w-100 btnhover', 'value': 'Add Objectif'} } ) }}
											</div>
										</div>
									</div>
									{{ form_end(form) }}
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="card-container" data-wow-delay="0.5s">
							<div class="widget bg-white p-a20">
								<h4 class="widget-title">Your Objectif</h4>
								<div class="dzFormMsg"></div>
								<div class="table-responsive"></div>
							</div>
						</div>
					</div>
				</div>
				<!--
				<div class="row">
					<div class="col-lg-12">
						<div class="card-container" data-wow-delay="0.5s">
							<div class="widget bg-white p-a20">
								<p> test </p>
							</div>
						</div>
					</div>
				</div>
				-->
			</div>
		</div>
		<!-- Call To Action -->
				<!-- Call To Action -->
		<section class="call-action style-2 bg-img-fix bg-primary">
			<div class="container">
				<div class="inner-content">
					<div class="row justify-content-between align-items-center">
						<div class="text-center text-lg-start col-xl-6 m-lg-b20 wow fadeInUp" data-wow-delay="0.2s">
							<h2 class="title m-0"><span class="font-weight-400">Subscribe To Our </span>Newsletter</h2>
						</div>
						<div class="text-center text-lg-end col-xl-6 wow fadeInUp" data-wow-delay="0.4s">
							<form class="dzSubscribe" action="{{asset('main/script/mailchamp.php')}}" method="post">
								<div class="dzSubscribeMsg"></div>
								<div class="form-group">
									<div class="input-group mb-0"> 
										<div class="input-skew">
											<input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your Email Address">
										</div>
										<div class="input-group-addon">
											<button name="submit" value="Submit" type="submit" class="btn btn-secondary btn-lg btn-skew h-100"><span class="skew-inner"><span class="text">Subscribe Now</span></span></button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Call To Action -->
		
	</div>


	
{% endblock %}

{% block js %}
	<script src="{{asset('main/js/main.min.js')}}"></script><!-- -->
	{{ parent() }}
	
{% endblock %}